@model PagedList.IPagedList<Model.EF.Product>

@using PagedList.Mvc;
@{
    ViewBag.Title = "Quản lý sản phẩm";
    Layout = "~/Areas/Admin/Views/Shared/_Layouts.cshtml";
}

@section header{Danh sách sản phẩm}

@section jsFooter{
    <script src="/assets/admin/js/controller/productController.js"></script>
}

<div class="card shadow mb-4">
    <div class="card-header py-3">
        <h6 class="m-0 font-weight-bold text-primary">Danh sách người dùng</h6>
    </div>
    <div class="card-body">
        @using (Html.BeginForm("Index", "Product", FormMethod.Get))
        {


            <form class="d-none d-sm-inline-block form-inline mr-auto ml-md-3 my-2 my-md-0 mw-100 navbar-search">
                <div class="input-group border">
                    <input type="text" name="searchString" value="@ViewBag.SearchString" class="form-control bg-light border-0 small" placeholder="Tìm kiếm người dùng"
                           aria-label="Search" aria-describedby="basic-addon2">
                    <div class="input-group-append">
                        <button class="btn btn-primary" type="submit">
                            <i class="fas fa-search fa-sm"></i>
                        </button>
                    </div>
                    <a href="/Admin/Product/Create" class="ml-3 btn btn-primary bg-gradient-success">
                        Thêm mới
                    </a>
                </div>
            </form>


        }
        <br />
        <div class="table-responsive">
            <table class="table table-bordered" id="dataTable" width="100%" cellspacing="0">
                <thead class="text-center">
                    <tr>
                        <th>Tiêu đề</th>
                        <th>Hình ảnh </th>
                        <th>Ngày đăng</th>
                        <th>Trạng thái</th>
                        <th>Chức năng</th>
                    </tr>
                </thead>

                <tbody>
                    @foreach (var item in Model)
                    {
                        <tr id="row_@item.ID">
                            <td>@item.Name</td>
                            <td><img src="@item.Image" width="100" /></td>
                            <td>@item.CreatedDate</td>
                            <td class="text-center btn-active" data-id="@item.ID"><a href="#">@(item.Status ? "Kích hoạt" : "Khóa")</a></td>
                            <td class="d-flex justify-content-around">
                                <a href="#" data-id="@item.ID" class="btn-images">Quản lý ảnh</a>|
                                <a href="/Admin/Product/Edit/@item.ID">Sửa</a>|
                                @Ajax.ActionLink("Xóa", "Delete", new { @id = item.ID }, new AjaxOptions
                                {
                                    Confirm = "Bạn có muốn xóa bản ghi này?",
                                    OnComplete = "$('#row_" + @item.ID + "').remove()",
                                    HttpMethod = "Delete"
                                })
                            </td>
                        </tr>
                    }
                </tbody>
            </table>
            @Html.PagedListPager(Model, page => Url.Action("Index", new { page, @searchString = @ViewBag.SearchString }))
        </div>
    </div>
</div>
<!-- The Modal -->
<div class="modal" id="imagesManager">
    <div class="modal-dialog">
        <div class="modal-content">

            <!-- Modal Header -->
            <div class="modal-header">
                <h4 class="modal-title">Quản lý ảnh</h4>
                <button type="button" class="close" data-dismiss="modal">&times;</button>
            </div>

            <!-- Modal body -->
            <div class="modal-body">
                <div id="imageList">

                </div>
                <input type="button" id="btnChoseImages" class="btn btn-primary" value="Chọn ảnh" />
                <input type="hidden" id="hidProductID" value="0"/>
            </div>

            <!-- Modal footer -->
            <div class="modal-footer">
                <button type="button" class="btn btn-success" id="btnSaveImages">Save</button>

                <button type="button" class="btn btn-danger" data-dismiss="modal">Close</button>
            </div>

        </div>
    </div>
</div>